<html>
	<body>
		<img src="cid:{banner2}"/>
		<p/>
		[Имя],  
		<p/>
		Менеджеры Вашего уровня обычно отказывают (в том числе и молчанием) новым партнёрам по двум причинам:
		<p/>
		1) У Вас уже есть проверенные партнеры.
		<br/>
		2) Вы не доверяете "мелким" из-за рисков срыва сроков и качества.
		<p/>
		Мы не просимся в подрядчики, а  хотим стать для Вас "незаменимым тактическим ресурсом".
		<p/>
		Обычно проверенные партнеры:
		<br/>
		- Не хотят брать геморройные задачи (легаси-системы, региональные выезды)
		<br/>
		- Не могут закрыть кадровые дыры (горят вакансии SOC/аудиторов)
		<br/>
		- Не рискуют работать с санкционными/нестандартными проектами
		<p/>
		Мы предлагаем решение — стать Вашим «тактическим резервом» в этих сценариях:
		<p/>
		1. Возьмём то, что невыгодно вашим текущим подрядчикам
		<br/>
		- Миграция старых ИБ систем
		<br/>
		- Поддержка legacy-решений в регионах (выезд наших инженеров в течение 48 часов от Калининграда до Владивостока)
		<br/>
		- Работа с «неудобными» вендорами (в том числе и OpenSource)
		<p/>
		2. Закроем кадровый голод без вашего HR
		<br/>
		- Готовый пул из сертифицированных специалистов
		<br/>
		- Оплата только за отработанные часы — если не подойдём, заменим за 24 часа
		<br/>
		- Возможна подписка («2 инженера в резерве за фикс в месяц»)
		<p/>
		3. Поможем с «неудобными» проектами
		<br/>
		- Внедрение санкционного ПО «под ключ»
		<br/>
		- Решение вопросов с регуляторами по ИБ
		<p/>
		Наши условия:
		<br/>
		- Первые 2 недели или разовый проект — бесплатный тестовый период (оплата только командировочных расходов).
		<br/>
		- Работаем через ваш договор или как субподрядчик 2-го уровня
		<br/>
		- Финансовая ответственность за срывы
		<p/>
		Как начать? Дайте 15 минут — покажу 3 кейса с аналогичными интеграторами:
		<p/>
		> - 📩 Ответьте <a href="mailto:[Адрес для ответа]?subject=Запрос%20расчета%20для%20пула%20проектов&amp;body=Прошу%20выслать%20расчет%20для%20пула%20проектов%20в%20мой%20адрес%20для%20[Ссылка].">"Резерв"</a> - вышлю расчёт для вашего пула проектов
		<br/>
		> - 📞 [Ваш телефон]
		<p/>
		P.S. Сейчас у нас есть 2 свободных инженера под Ваш проект [Проект] — можем закрыть ваш срочный запрос в течение 72 часов.
		<p/>
		С уважением,
		<br/>
		[Имя Фамилия]
		<br/>		
		[Должность] | Про Интеграция
		<br/>		
		[Телефон] | 🌐 <a href="https://prointegra.ru">prointegra.ru</a>
	</body>
</html>