<html>
	<body>
		<img src="cid:{banner}"/>
		<p/>
		[Имя], добрый день!  
		<p/>
		Топ-менеджеры Вашего уровня обычно делятся со мной двумя цифрами:  
		<br/>- 60% — столько времени теряют их команды на исправление ошибок субподрядчиков
		<br/>- 0 — столько раз мы заставляли наших партнёров краснеть за срывы
		<p/>
		Помогаем генподрядчику решать ключевые задачи ИБ: от комплаенса до интеграции решений, предлагая гибкие модели аутсорсинга и аутстаффинга. Экономия до 37% бюджета за счёт оплаты только за реальные часы работы.  
		<p/>
		Наши преимущества:
		<br/>		
		✔ Готовый пул специалистов: аудиторы, инженеры, аналитики
		<br/>
		✔ Оплата только за часы работы или конкретный объем
		<br/>
		✔ Берем на себя все риски и ответственность
		<br/>
		✔ Работаем с крупными и федеральными интеграторами
		<p/>
		Я видел, что [Название компании] недавно выиграла конкурс на [Проект]. Для таких проектов часто требуются дополнительные ИБ-ресурсы без увеличения штата.  
		<p/>
		Давайте обсудим, как мы можем закрыть ваши текущие или будущие задачи - для старта достаточно 15 минут:  
		<p/>
		> - 📩 Ответьте <a href="mailto:[Адрес для ответа]?subject=Запрос%20кейсов%20и%20рассчетов&amp;body=Прошу%20выслать%20кейсы%20и%20расчеты%20в%20мой%20адрес%20для%20[Ссылка].">"Интересно"</a> - вышлю кейсы и расчеты
		<br/>
		> - 📞 [Ваш телефон]
		<p/>
		С уважением,
		<br/>
		[Имя Фамилия]
		<br/>		
		[Должность] | Про Интеграция
		<br/>		
		[Телефон] | 🌐 <a href="https://prointegra.ru">prointegra.ru</a>
	</body>
</html>